@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #030412;
  color: white;
  font-family: "Funnel Display", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.x-indent {
  @apply sm:px-10 px-5 lg:px-16;
}

.burger-line {
  @apply absolute left-1/2 -translate-x-1/2 w-[19px] h-[2px] bg-neutral-400 rounded-full transition-all group-hover:bg-white;
}

.section-gap {
  @apply min-h-screen mt-20 md:mt-[120px];
}

.heading-2 {
  @apply font-bold text-3xl md:text-4xl;
}

.text-secondary {
  @apply text-pretty text-sm md:text-base text-neutral-400;
}

.bg-gradient-primary {
  @apply bg-gradient-to-b from-storm to-indigo;
}

.bg-gradient-accent  {
  @apply bg-gradient-to-b from-royal to-lavender;
}

.bg-gradient-dark    {
  @apply bg-gradient-to-tl from-[#3A3A3A] via-[#242424] to-[#3A3A3A];
}
